// forms
//inputs
.form-group {
  width: 100%;
  margin: 15px 0;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  padding-left: 7px;
}

.form-group .form-control {
  width: 100%;
  padding: 10px;

  color: $color-white;

  border-color: $color-white;

  background-color: $color-dark;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-group-2-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-group-2-1 .icon {
  margin-left: 21px;
}

// checkboxs

.form-group.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

// selects
.select {
  width: 100%;
  padding: 5px 10px;
  margin: 5px 0;

  text-align: center;
  color: $color-white;

  border: solid 2px $color-white;

  background-color: $color-dark;

  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;

  // arrow
  background-image: linear-gradient(45deg, transparent 50%, #FFF 50%),
  linear-gradient(135deg, #FFF 50%, transparent 50%);
  background-position: calc(100% - 16px) calc(1em + -2px), calc(100% - 11px) calc(1em + -2px),
  calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 540px) {
  .select {
    width: auto;
    margin: 5px 0;
  }

  .form-group-1-1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 21px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 21px;
  }

  .form-group-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}

// searchbars
.form-group-search {
  position: relative;
}

.form-group-search .icon {
  position: absolute;
  top: 10px;
  right: 15px;
}
