.table {
  display: block;
  width: 100%;
  overflow-y: scroll;
  height: 250px;
}

.table table {
  width: 100%;
}

.table thead {
  font-weight: $weight-semi-bold;
  color: $color-light;

  background-color: $color-secondary;
}
.table th {
  padding: 5px 10px;
}

.table td {
  padding: 15px 10px;
}

.table thead th:nth-child(1),
.table tbody td:nth-child(1) {
  text-align: left;
}

.table thead th:nth-child(2),
.table tbody td:nth-child(2) {
  text-align: right;
}

.table tr {
  border-bottom: 1px solid $color-primary;
}

.table tbody tr:hover {
  background-color: $color-secondary;

  -webkit-transition: 0.3s;

  -o-transition: 0.3s;

  transition: 0.3s;

  cursor: pointer;
}

.table tr.active {
  background-color: $color-secondary;
}

// notifications
.notifications tbody tr {
  border-top: 1px solid #5c636a;
  border-bottom: 1px solid #5c636a;
}

.notifications tbody tr.active {
  background: #343434;
  font-weight: bold;
  color: #efefef;
}

.notifications tbody tr {
  background-color: #444444;
  color: #cdcdcd;
}

.notifications tbody tr:hover {
  background-color: #444444;
  border-bottom-color: #3a86ff !important;
}

@media only screen and (min-width: 960px) {
  .table {
    height: auto;
  }
}

