.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: $color-light;
  text-transform: uppercase;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tab {
  word-break: break-word;
  cursor: pointer;
  padding: 10px 5px;
  display: inline-block;
  border-radius: 3px 3px 0px 0px;
}
.panels .panel {
  min-height: 600px;
}
.panel {
  display: none;
  -webkit-animation: fadein 0.8s;
  animation: fadein 0.8s;
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.radio {
  display: none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel,
#four:checked ~ .panels #four-panel{
  display: block;
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab,
#four:checked ~ .tabs #four-tab{
  color: $color-secondary;
  text-decoration: underline;
}

@media only screen and (min-width: 540px) {
  .tab {
    padding: 10px 15px;
  }
}
