.information .img {
  height: 50px;
  width: 50px;
  margin-right: 15px;

  border-radius: 5px;
}

.information .img.big {
  height: 130px;
  width: 130px;
}

.small-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media only screen and (min-width: 540px) {
  .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .medium-information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

// informations for comments
.information-comment .img {
  height: 50px;
  width: 50px;
  margin-right: 15px;
  border-radius: 5px;
}

.information-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
