// horizontal nav
.navbar-height {
  height: 66px;
}

.navbar {
  padding: 10px 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 66px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  text-transform: uppercase;
  color: $color-white;

  background-color: $color-dark;
  border: solid 2px $color-white;

  z-index: 5;
}

.navbar .nav {
  display: none;
}

.navbar .personal-nav,
.navbar .personal-nav .profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar .personal-nav .profil,
.navbar .personal-nav span {
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.navbar .personal-nav span:hover {
  color: $color-white;
}

.navbar .personal-nav .profil {
  margin-left: 10px;
  padding: 10px 0;
}

.navbar img {
  height: 45px;
  border-radius: 5px;
}

.navbar .icon {
  margin: 0 10px;
}

.navbar .icon-bell {
  position: relative;
}

.navbar .count {
  position: absolute;
  left: 20px;
  top: 8px;

  font-size: 0.8rem;
  font-weight: $weight-bold;
  color: $color-white;
}

.contain-burger {
  height: 35px;

  cursor: pointer;
}

.burger::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 15px;
  height: 4px;
  width: 40px;

  border-radius: 5px;

  background-color: $color-light;
}

.burger {
  position: relative;
  height: 4px;
  width: 40px;

  border-radius: 5px;

  background-color: $color-light;
}

.burger::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 30px;
  height: 4px;
  width: 40px;

  border-radius: 5px;

  background-color: $color-light;
}

// dropdowns
.navbar-dropdown {
  position: relative;
}

.navbar-dropdown-content {
  display: none;
  position: absolute;
  padding: 12px 16px;
  min-width: 160px;

  color: $color-light;

  background-color: $color-light;

  border-radius: 5px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar-dropdown:hover .navbar-dropdown-content {
  display: block;
}

.dropdown-left {
  right: 0px;
}

.dropdown-middle {
  left: -50px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-link {
  display: block;
}

.dropdown-link:hover {
  color: $color-primary;
}

// vertical nav
.vertical-navbar {
  display: none;
  position: fixed;
  top: 66px;
  left: 0;
  bottom: 0;
  width: 106px;
  padding: 24px 0;

  text-transform: uppercase;
  text-align: center;
  font-weight: $weight-semi-bold;

  background-color: $color-dark;
  border: solid 2px $color-white;

  z-index: 2;
}

.nav-vertical-link {
  padding: 10px 0;
  margin-bottom: 10px;
  width: 100%;
  display: inline-block;
}

.nav-vertical-link:hover {
  background-color: $color-secondary;
}

.nav-vertical-link.active {
  background-color: $color-secondary;
}

.nav-vertical-link p {
  margin-top: 6px;
}

@media only screen and (min-width: 960px) {
  // burger nav
  .contain-burger {
    display: none;
  }

  // navbar
  .navbar,
  .navbar .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .navbar .nav .navbar-link {
    padding: 21px 0;
    margin: 0 17.5px;
    font-weight: $weight-semi-bold;
  }

  .navbar .nav a:hover {
    color: $color-secondary;
  }

  .navbar-link.active {
    color: $color-secondary;
  }

  // vertical nav
  .vertical-navbar {
    display: block;
  }
}
